@media screen and (max-width: 800px) {
  .about,
  .nav-before-after,
  .article-intro {
    padding: 0;
  }
  .about h1,
  .about span {
    font-size: 2.8em;
  }
  .about h2 {
    margin-top: 0;
  }
  .button {
    margin-bottom: 2rem;
  }
  article h1 {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
  }
  article {
    text-align: left;
  }
  .article-intro {
    width: 70%;
  }
  .article-description,
  .about {
    flex-direction: column;
    width: 70%;
  }
  .article-description div {
    width: 100%;
  }
  .article-description img {
    width: 100%;
    height: auto;
  }
  .gallery-blogs-container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .post-container {
    width: 80%;
  }
  .post-container hr {
    margin: 0.3em 0;
  }
  .lateralBar div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .barContainer {
    width: inherit;
  }
  .lateralBar img {
    display: none;
  }
  .lateralBar h2 {
    margin: 1.5em 0;
  }
  footer {
    padding-top: 2em;
  }
  .aboutDescription {
    flex-wrap: wrap;
  }
  .aboutDescription img {
    width: 400px;
    margin: 2rem 0;
  }

  .projectsFlexDescription {
    width: 100%;
    margin: 0 1.5em;
  }
  .projectsFlex {
    padding-top: 0;
  }
  .projectsFlex .gallery-element {
    margin: 2em 0;
  }
  .title-page-container {
    width: 70%;
    margin-top: 3em;
  }
  .article-description button {
    margin-bottom: 2em;
  }
  .article-description h3 {
    font-size: 14px;
    margin: 0;
  }
  /* Empiezan estilos del header */
  header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    z-index: 999;
  }
  /* Aqui terminan estilos del header */
  /* Estilos del nav */
  header #menuIcon {
    display: block;
  }
  .nav-active {
    background-color: rgba(255, 255, 255, 0.906);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 60%;
    height: 100vh;
    justify-content: center;
    right: 0;
  }
  header .navbar {
    width: 90%;
    align-items: flex-start;
  }
  header nav ul {
    display: none;
  }
  .nav-active ul li {
    text-align: center;
    padding: 1.3em 0;
    list-style: none;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  nav svg {
    padding-left: 1em;
  }
}
