@media screen and (max-width: 800px) {
  .about,
  .nav-before-after,
  .article-intro {
    padding: 0;
  }
  .button {
    margin-bottom: 2rem;
  }
  /* hr {
    margin: 20px auto;
  } */
  article h1 {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
  }
  article {
    text-align: left;
  }
  .article-intro {
    width: 80%;
  }
  .gallery-blogs-container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .post-container {
    width: 90%;
  }
  .post-container h2 {
    text-align: center;
  }
  .lateralBar {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4rem;
  }
  .lateralBar img {
    display: none;
  }
  .lateralBar div {
    margin: 2rem 0;
  }
  .lateralBar h3 {
    width: 23rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .aboutDescription {
    flex-wrap: wrap;
  }
  .aboutDescription img {
    width: 400px;
    margin: 2rem 0;
  }
  .container {
    padding: 4em 0;
  }
  .projectsFlexDescription {
    width: 100%;
    margin: 0 1.5em;
  }
}
