@media screen and (max-width: 800px) {
  .about,
  .project-description,
  .project-highlights,
  .nav-before-after,
  .article-intro {
    padding: 0;
  }
  .project-description div,
  .project-view div {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .project-description h1 {
    font-size: 3rem;
  }
  .button {
    margin-bottom: 2rem;
  }
  hr {
    margin: 20px auto;
  }
  article h1 {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
  }
  article {
    text-align: left;
  }
  .article-intro {
    width: 80%;
  }
  .gallery-blogs-container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .post-container {
    width: 90%;
  }
  .post-container h2 {
    text-align: center;
  }
}
