:root {
  --title-font-size: 60px;
  --subtitle-font-size: 30px;
  --text-font-size: 20px;
  --line-height-text: 1rem;
  --title-font: "Source Sans Pro", sans-serif;
  --texts-font: "Poppins", sans-serif;
  --color-title: #00aaa1;
  --color-text: #666666;
  --color-subtitle: #37a5d6;
  --color-placeholder: #acb9c4;
  --color-shadow: #00000012;
  --color-background: #37a6d629;
}
* {
  margin: 0;
  padding: 0;
  line-height: 2.3rem;
}
.container {
  width: 100%;
  /* background-color: #f2fafa; */
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
header {
  height: 80px;
  padding: 15px 25px;
  /* border-radius: 0 0 50px 50px; */
  /* background: #f2fafa; */
}
nav {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}
header nav ul li {
  list-style: none;
  padding-right: 10px;
}
nav ul a,
.post-container a {
  position: relative;
  z-index: 99;
  justify-content: center;
  font-family: var(--texts-font);
  color: var(--color-text);
  font-size: 16px;
  transition: all 0.4;
  margin: 0 1rem;
}
.post-container a {
  color: var(--color-title);
  margin: 0;
}
nav ul a:hover:before,
.post-container a:hover:before {
  width: 100%;
  transition: all 0.4s;
  opacity: 1;
}
nav ul a:before,
.post-container a:before {
  position: absolute;
  content: "";
  width: 0;
  bottom: -5px;
  border-bottom: 2px solid #53b6b0;
  opacity: 0;
}
.post-container a:before {
  position: absolute;
  content: "";
  width: 0;
  bottom: -5px;
  border-bottom: 2px solid #53b6b0;
  color: var(--color-title);
  opacity: 0;
}
.message-icon {
  position: absolute;
  bottom: 0;
  padding: 0 6px;
}
footer {
  display: flex;
  display: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 5px;
  background-color: #f2fafa;
  box-shadow: 1px 1px 20px 1px var(--color-shadow);
}
footer p,
.lateralBar h3 {
  color: var(--color-title);
  font-family: var(--title-font);
  font-size: 1.2rem;
  margin-bottom: -15px;
}
.lateralBar h3 {
  color: var(--color-text);
  margin: 0;
  border-bottom: 1px solid var(--color-title);
  width: 20rem;
}
.lateralBar p {
  color: var(--color-text);
  font-family: var(--texts-font);
}
.svg-inline--fa {
  font-size: 1.5rem;
  padding: 10px;
}
footer a,
.nav-before-after a {
  color: var(--color-text);
}
footer a:hover,
.nav-before-after a:hover {
  color: var(--color-title);
}
button {
  background-color: var(--color-title);
  border-radius: 10px;
  border: none;
  padding: 0.3rem 1.5rem;
  color: white;
}
button a {
  color: white;
  font-family: var(--texts-font);
}
.button-post {
  background: rgba(255, 255, 255, 0.708);
  border: 2px solid #00aaa1;
  border-radius: 10px;
  padding: 0.3rem 1.5rem;
  transition: 0.2s;
}
.button-post a {
  color: var(--color-text);
  font-family: var(--texts-font);
}
.madeBy {
  position: fixed;
  transform: rotate(-90deg);
  bottom: 125px;
  left: -35px;
  text-align: left;
}
.madeBy p {
  color: var(--color-text);
  font-family: var(--texts-font);
  font-weight: 200;
  font-size: 11px;
}
.divider {
  background-color: var(--color-placeholder);
  width: 65%;
  margin: 30px auto;
}

h3 {
  font-family: var(--title-font);
  color: var(--color-title);
  font-size: var(--subtitle-font-size);
  font-weight: 200;
  margin: 2rem 0;
}
h4 {
  font-family: var(--texts-font);
  color: var(--color-text);
  font-size: 14px;
  font-weight: 200;
  margin: 0.7rem 0;
}
.about,
.project-description,
.project-highlights,
.nav-before-after,
.article-intro {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}
.article-intro {
  width: 60%;
}
.about span {
  font-size: var(--title-font-size);
  font-family: var(--texts-font);
  color: var(--color-title);
}
.about h1 {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  color: var(--color-title);
  display: inline;
}
.about p,
.post-container h2 {
  color: var(--color-title);
  font-size: var(--subtitle-font-size);
  font-family: var(--title-font);
  margin-top: 20px;
}
.post-container h2 {
  font-weight: 600;
}
.post-container hr {
  margin: 0;
}
hr {
  width: 6rem;
  background-color: var(--color-title);
  height: 2px;
  border-width: 0;
  margin: 20px 0;
}
.about h2,
.title-page-container h2 {
  font-family: var(--texts-font);
  font-weight: 200;
  font-size: var(--text-font-size);
  color: var(--color-text);
}
.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  /* box-shadow: 1px 1px 20px 1px var(--color-shadow);
  border-radius: 20px; */
}
.projectsContainer h2,
.project-highlights h2 {
  color: var(--color-title);
  font-size: var(--subtitle-font-size);
  font-family: var(--title-font);
  border-bottom: 2px solid var(--color-title);
  border-top: 2px solid var(--color-title);
  width: fit-content;
  padding: 12px 0;
  align-self: center;
  font-weight: 200;
}
.projectsContainer h2 {
  margin: 2.5rem 0;
}
.projectsContainer img,
.project-description img,
.project-view img,
.lateralBar img,
article img {
  border-radius: 5px;
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); */
  /* transition: all 0.8s ease; */
}
/* .projectsContainer img:hover {
  transform: rotateY(-180deg);
  transition: all 0.8;
} */
.css-image:hover,
.lateralBar img:hover {
  transform: rotateY(-180deg);
}
.aboutDescription {
  display: flex;
  flex-direction: row;
  margin: 5em auto;
}
.aboutDescription img {
  margin: 0 2em;
}
.projectsFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
}
.projectsFlex .gallery-element {
  margin: 30px 20px;
}
.gallery-element a {
  text-decoration: none;
}
.gallery-element h3,
article h3 {
  font-family: var(--texts-font);
  font-size: var(--text-font-size);
  color: var(--color-subtitle);
  margin: 0;
  font-weight: 400;
  text-align: left;
}
.post-container h3 {
  font-size: 14px;
  margin: 20px 0px 5px;
  font-family: var(--texts-font);
  color: var(--color-subtitle);
  line-height: 0px;
}
.gallery-element p,
small,
.lateralBar input {
  font-family: var(--texts-font);
  font-size: 12px;
  color: var(--color-text);
  text-align: left !important;
}
.lateralBar input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  margin: 1rem 0;
  outline: none;
}

.project-description,
.project-highlights,
.project-view,
.article-intro,
.title-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  width: 85%;
  margin: 3rem auto 0;
}
.gallery-blogs-container {
  width: 90%;
  margin: 0 auto 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
}
.post-container {
  width: 85%;
  margin: 0 auto;
  line-height: 0.3rem;
  margin-top: 3rem;
  transition: 0.4s;
}
.gallery-element {
  transition: 0.4s;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.projectsFlexDescription {
  margin: 2rem;
  width: 30%;
}
.projectsFlexDescription article {
  line-height: 1.5;
  text-align: justify;
  font-family: var(--texts-font);
  font-size: small;
}
.post-container:hover,
.gallery-element:hover {
  transform: translateY(-15px);
}
.post-container img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.project-description div,
.project-view div {
  width: 50%;
  margin-right: 4em;
}
.project-description h1,
article h1,
.title-page-container h1 {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-weight: 200;
  line-height: 4rem;
  color: var(--color-title);
}
.project-description p,
.project-view p,
.article-intro p,
article li {
  font-family: var(--texts-font);
  font-size: var(--text-font-size);
  color: var(--color-text);
  margin: 2em 0;
  text-align: justify;
}
.project-view {
  padding: 02rem;
}
.project-highlights div {
  text-align: -webkit-center;
}
.nav-before-after {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.before a,
.after a,
.lateralBar button,
.project-description button {
  display: flex;
  align-items: center;
  font-family: var(--texts-font);
  font-size: 1rem;
  transition: 0.2s;
}
.before a:hover,
.after a:hover,
.lateralBar button:hover,
.project-description button:hover {
  transform: scale(1.1);
}
.nav-before-after .svg-inline--fa {
  color: var(--color-title);
}
.svg-inline--fa {
  transition: 0.4s;
}
.svg-inline--fa:hover {
  transform: scale(1.3);
}
article h2 {
  font-family: var(--texts-font);
  font-size: var(--subtitle-font-size);
  color: rgba(33, 32, 32, 0.85);
}
.post-container p {
  font-size: 15px;
  font-family: var(--texts-font);
  line-height: 1.5rem;
  margin: 1rem 0;
  text-align: justify;
  color: var(--color-text);
}
.lateralBar {
  background: #37a6d629;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4rem 0;
}
.lateralBar h2 {
  color: var(--color-title);
  font-size: var(--subtitle-font-size);
  font-family: var(--title-font);
  border-bottom: 2px solid var(--color-title);
  border-top: 2px solid var(--color-title);
  width: fit-content;
  padding: 5px 10px;
  margin-bottom: 2rem;
  font-weight: 200;
}
