:root {
  --title-font-size: 60px;
  --subtitle-font-size: 30px;
  --text-font-size: 20px;
  --line-height-text: 1rem;
  --title-font: "Source Sans Pro", sans-serif;
  --texts-font: "Poppins", sans-serif;
  --color-title: #00aaa1;
  --color-text: #666666;
  --color-subtitle: #37a5d6;
  --color-placeholder: #acb9c4;
  --color-shadow: #00000012;
}
* {
  margin: 0;
  padding: 0;
  line-height: 2.3rem;
}
.cls-1 {
  clip-path: url(#clip-logo);
}
.cls-2 {
  fill: #14b7ae;
}
.cls-3,
.cls-5 {
  fill: #f2fafa;
}
.cls-3,
.cls-4 {
  font-size: 100px;
  font-family: SourceSansPro-Semibold, Source Sans Pro;
  font-weight: 600;
}
.cls-4 {
  fill: #00aaa1;
}
.container {
  width: 100%;
}
a {
  text-decoration: none;
}
header {
  height: 80px;
  padding: 15px 25px;
  /* border-radius: 0 0 50px 50px; */
  background: #f2fafa;
}
nav {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}
header nav ul li {
  list-style: none;
  padding-right: 10px;
}
nav ul a {
  position: relative;
  z-index: 99;
  justify-content: center;
  font-family: var(--texts-font);
  color: var(--color-text);
  font-size: 16px;
  transition: all 0.4;
  margin: 0 1rem;
}
nav ul a:hover:before {
  width: 100%;
  transition: all 0.4s;
  opacity: 1;
}
nav ul a:before {
  position: absolute;
  content: "";
  width: 0;
  bottom: -5px;
  border-bottom: 2px solid #53b6b0;
  opacity: 0;
}
.message-icon {
  position: absolute;
  bottom: 0;
  padding: 0 6px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 5px;
  /* border-radius: 30px 30px 0 0; */
  background-color: #f2fafa;
  box-shadow: 1px 1px 20px 1px var(--color-shadow);
}
footer p {
  color: var(--color-title);
  font-family: var(--title-font);
  font-size: 1.2rem;
  margin-bottom: -15px;
}
.svg-inline--fa {
  font-size: 1.5rem;
  padding: 10px;
}
footer a,
.nav-before-after a {
  color: var(--color-text);
}
footer a:hover,
.nav-before-after a:hover {
  color: var(--color-title);
}
button {
  background-color: var(--color-title);
  border-radius: 10px;
  border: none;
  padding: 0.3rem 1.5rem;
}
button a {
  color: white;
  font-family: var(--texts-font);
}
.madeBy {
  position: fixed;
  transform: rotate(-90deg);
  bottom: 125px;
  left: -35px;
  text-align: left;
}
.madeBy p {
  color: var(--color-text);
  font-family: var(--texts-font);
  font-weight: 200;
  font-size: 11px;
}
.divider {
  background-color: var(--color-placeholder);
  width: 65%;
  margin: 30px auto;
}
main {
  background-color: #f2fafa;
  padding: 5rem 0;
}
h3 {
  font-family: var(--title-font);
  color: var(--color-title);
  font-size: var(--subtitle-font-size);
  font-weight: 200;
  margin: 2rem 0;
}
h4 {
  font-family: var(--texts-font);
  color: var(--color-text);
  font-size: 14px;
  font-weight: 200;
  margin: 0.7rem 0;
}
.about,
.project-description,
.project-highlights,
.nav-before-after,
.article-intro {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}
.article-intro {
  width: 60%;
}
figure {
  text-align: center;
}
.about span {
  font-size: var(--title-font-size);
  font-family: var(--texts-font);
  color: var(--color-title);
}
.about h1,
article h1 {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  color: var(--color-title);
  display: inline;
}
.about p {
  color: var(--color-title);
  font-size: var(--subtitle-font-size);
  font-family: var(--title-font);
  margin-top: 20px;
}
hr {
  width: 6rem;
  background-color: var(--color-title);
  height: 2px;
  border-width: 0;
  margin: 20px 0;
}
.about h2 {
  font-family: var(--texts-font);
  font-weight: 200;
  font-size: var(--text-font-size);
  color: var(--color-text);
}
.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0 2rem;
  box-shadow: 1px 1px 20px 1px var(--color-shadow);
  border-radius: 20px;
}
.projectsContainer h2,
.project-highlights h2 {
  color: var(--color-title);
  font-size: var(--subtitle-font-size);
  font-family: var(--title-font);
  border-bottom: 2px solid var(--color-title);
  border-top: 2px solid var(--color-title);
  width: fit-content;
  padding: 12px 0;
  align-self: center;
  font-weight: 200;
}
.projectsContainer img,
.project-description img,
.project-view img {
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  /* transition: all 0.8s ease; */
}
/* .projectsContainer img:hover {
  transform: rotateY(-180deg);
  transition: all 0.8;
} */
.css-image:hover {
  transform: rotateY(-180deg);
}
.projectsFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
}
.projectsFlex .gallery-element {
  margin: 30px 20px;
}
.gallery-element a {
  text-decoration: none;
}
.gallery-element h3,
article h3 {
  font-family: var(--texts-font);
  font-size: var(--text-font-size);
  color: var(--color-subtitle);
  margin: 0;
  font-weight: 500;
  text-align: left;
}
.gallery-element p,
small {
  font-family: var(--texts-font);
  font-size: 12px;
  color: var(--color-text);

  text-align: left !important;
}

.project-description,
.project-highlights,
.project-view,
.article-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project-description div,
.project-view div {
  width: 50%;
  margin-right: 4em;
}
.project-description h1 {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-weight: 200;
  line-height: 4rem;
  color: var(--color-title);
}
.project-description p,
.project-view p,
.article-intro p,
article li {
  font-family: var(--texts-font);
  font-size: var(--text-font-size);
  color: var(--color-text);
  margin: 2em 0;
  text-align: justify;
}
.project-view {
  padding: 02rem;
}
.project-highlights div {
  text-align: -webkit-center;
}
.nav-before-after {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.before a,
.after a {
  display: flex;
  align-items: center;
  font-family: var(--texts-font);
  font-size: 1.5rem;
}
.nav-before-after .svg-inline--fa {
  color: var(--color-title);
}
article h2 {
  font-family: var(--texts-font);
  font-size: var(--subtitle-font-size);
  color: rgba(33, 32, 32, 0.85);
}
